/*CORES*/
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  /*as cores abaixo podem ser usadas pelo botões ou texto*/
  --primary-color: #b81515;
  --secundary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-terceary-color: #000000;

  --text-primary-color: #ffffff;
  --text-secundary-color: #222222;

  --title-weight: 700;
  --text-wieght: 400;
  --menu-text-weight: 500;
}
/*CSS RESET*/
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 