header {
  background-color: var(--background-terceary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 40px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-terceary-color);
}

.list-links li a{
  color: var(--text-primary-color);
  text-decoration: none;
}

.list-links{
  list-style: none;
  font-family: "Montserrat";
}
.list-links li{
  margin: 16px;
}

nav {
  display: none;
}
