header {
  background-color: var(--background-terceary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
  margin: 0px 0 px 48px;
}  

input[type="checkbox"]:checked ~ nav{
  display:block
}

.navigation-menu{
  margin-top: 24px;
}

nav {
  display: none;
}